<!-- Activity Section -->
    <section id="activity">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">Activity</h2>
                    <h3>Talks and Visits</h3>
                    <ul class="talks">
                        <li>
                             <a href="https://www.siam.org/conferences/cm/conference/fm23" target="_blank">SIAM Conference on Financial Mathematics and Engineering (FM23)</a>.
                            June 2023. Philadelphia, PA.
                        </li>
                        <li>
                            <a href="https://ai-finance.org" target="_blank">3rd ACM International Conference on AI in Finance (ICAIF22)</a>.
                            Nov 2022. New York, NY.
                        </li>
                        <li>
                            <a href="https://meetings.informs.org/wordpress/indianapolis2022/" target="_blank">2022 INFORMS Annual Meeting</a>.
                            Oct 2022. Indianapolis, IN.
                        </li>
                        <li>
                            <a href="https://sites.google.com/view/2022-cfmar-workshop/home" target="_blank">2022 CFMAR Workshop</a>.
                            Sept 2022. Santa Barbara, CA.
                        </li>
                        <li>
                            <a href="https://ai-finance.org" target="_blank">3rd ACM International Conference on AI in Finance (ICAIF22)</a>.
                        </li>
                        <li>
                            <a href="https://www.imsi.institute/activities/distributed-solutions-complex-societal-problems" target="_blank">IMSI Workshop Flash Talk</a>.
                            Dec 2021. Chicago, IL.
                        </li>
                        <li>
                            <a href="https://cfmar.pstat.ucsb.edu/news/event/532" target="_blank">CFMAR Seminar</a>.
                            Sept 2021. Santa Barbara, CA.
                        </li>
                    </ul>
                    <ul class="talks">
                        <li>
                             <a href="https://www.sdsc.edu/event_items/202206_cimlsi.html" target="_blank">2022 Cyberinfrastructure-Enabled Machine Learning Summer Institute</a>.
                            Summer 2022. University of California, San Diego. San Diego, CA.
                        </li>
                        <li>
                            <a href="https://www.imsi.institute/activities/distributed-solutions-complex-societal-problems" target="_blank">IMSI Long Program in Distributed Solutions to Complex Societal Problems</a>.
                            Fall 2021. University of Chicago. Chicago, IL.
                        </li>
                        <li>
                            <a href="https://www.uliege.be/cms/c_9329746/en/erasmus" target="_blank">Erasmus Program in Business Engineering</a>.
                            Spring 2017. University of Liège. Liège, Belgium.
                        </li>
                    </ul>
                    <h3>Teaching</h3>
                    <p> (UCSB TA/Reader)</p>
                    <ul>
                        <li>PSTAT 199: Undergraduate Level Independent Studies in Statistics. Fall 2022</li>
                        <li>PSTAT 223A: Graduate Level Stochastic Calculus. Fall 2021</li>
                        <li>PSTAT 213A: Graduate Level Probability Theory and Stochastic Process. Fall 2021</li>
                        <li>MATH CS 121: Undergraduate Level Probability. Fall 2021</li>
                        <li>PSTAT 160B: Undergraduate Level Stochastic Process. Winter, Spring 2021</li>
                        <li>PSTAT 174/274: Graduate Level Time Series Analysis. Fall 2020</li>
                        <li>PSTAT 130: SAS Base Program. Summer 2020</li>
                        <li>PSTAT 131/231: Graduate Level Statistical Machine Learning. Spring 2020</li>
                        <li>PSTAT 120C: Undergraduate Level Probability and Statistics. Spring 2020</li>
                        <li>PSTAT 127: Undergraduate Level Advanced Statistical Models. Winter 2020</li>
                        <li>PSTAT 126: Undergraduate Level Regression Analysis. Winter 2020</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>